.add-product{
    margin-bottom: 10px;
}

.newProduct{
    margin-top: 25px;
}

.chooseShipper{
    float: left;
    width: 200px;
    margin-left: 20px;
}

.chooseCategory{
    float: left;
    margin-left: 20px;
    width: 200px;
}

.chooseProduct{
    float: left;
    margin-left: 20px;
    width: 200px;
}

.chooseAdd{
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}

.newProduct{
    top: 20px;
    right: 35px;
    background: #006DF0;
    padding: 7px 25px;
    color: #fff;
    border-radius: 4px;
}

.option{
  height: 32px;
  border-radius: 4px;
}

.payment-adress{
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: unset;
}

.export{
    background-color: white
}

.inputExport{
    width: 80%;
    height: 32px;
    border-radius: 4px;
}

.reason-label{
    text-align: right;
    float:left;
    margin-top: 5px;
    margin-right: 20px
}

.option-choose{
    height: 80px;
    background-color: white;
}

.newBtn{
    margin-left: 20px;
    margin-bottom: 20px;
}